@import "../../assets/style-gl.scss";

.container_brand {
  background-color: $bg-blue;
  height: 620px;
  .brand_header {
    text-align: center;
    margin: 0 auto;
    width: 682px;
    .brand_title {
      padding-top: 100px;
      color: $text-color-yellow;
      font-family: $font-eng;
      font-weight: $font-weight700;
      text-transform: uppercase;
    }
    .brand_desc {
      color: $text-color-yellow;
      font-size: $font-size15;
      font-weight: $font-weight400;
      font-family: $font-korea;
    }
  }
  .brand_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    @include tablet-mobile {
      margin-top: 100px;
    }

    .product_content-img {
      width: 30%;
      height: 278px;
      object-fit: cover;
      z-index: 1;
      @include tablet-mobile {
        width: 25%;
        height: 210px;
        object-fit: cover;
      }
    }

    .brand_content-table {
      width: 400px;
      height: 278px;
      border: 3px solid $black-color;
      background-color: $text-white-color;
      border-left-width: 0;
      z-index: 1;
      @include tablet-mobile {
        width: 260px;
        height: 210px;
      }

      .brand_content-table-title {
        margin: 10px 20px;
        text-transform: uppercase;
      }
      .brand_content-table-wrap {
        margin: 10px 20px;
      }
      .brand_content-table-desc {
        text-align: center;
        font-size: $font-size12;
        font-weight: $font-weight400;
        font-family: $font-korea;

        @include tablet-mobile {
          font-size: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 20px;
          -webkit-line-clamp: 4;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
      .product_btn {
        margin: 10px 20px;
        @include tablet-mobile {
          font-size: $font-size13;
          width: 100px;
          height: 38px;
        }
      }
    }
  }
  .icon-table {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -120px;
    left: 200px;
    @include tablet-mobile {
      width: 50px;
      height: 50px;
      top: -80px;
      left: 180px;
    }
  }
  .icon-book-g {
    width: 140px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 2px;
    @include tablet-mobile {
      width: 80px;
      height: 180px;
      top: 0px;
      left: 10px;
    }
  }
  .icon-book {
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    left: 140px;
    @include tablet-mobile {
      width: 100px;
      height: 150px;
      bottom: 20px;
      left: 90px;
    }
  }
  .icon-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -180px;
    right: 180px;
    @include tablet-mobile {
      width: 60px;
      height: 60px;
      top: -90px;
      right: 100px;
    }
  }
  .icon-3 {
    width: 100px;
    height: 120px;
    position: absolute;
    top: -150px;
    right: 120px;
    @include tablet-mobile {
      width: 60px;
      height: 60px;
      top: -80px;
      right: 80px;
    }
  }
  .icon-4 {
    width: 150px;
    height: 350px;
    position: absolute;
    bottom: 80px;
    right: -50px;
    @include tablet-mobile {
      width: 100px;
      height: 200px;
      bottom: 80px;
      right: -30px;
    }
  }
  .icon-5 {
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 30px;
    right: -10px;
    @include tablet-mobile {
      width: 200px;
      height: 100px;
      bottom: 30px;
      right: -10px;
    }
  }
}
