@import "../../assets/style-gl.scss";

.footer {
  height: 350px;
  border-top: 1px solid rgba(255, 225, 225, 0.4);
  .footer_up {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .footer_up-left {
      .footer_up-title {
        font-size: $font-size14;
        font-family: $font-eng;
        font-weight: $font-weight700;
      }
      .wrap-desc {
        height: 101px;
        width: 234px;
      }
      .footer_up-desc {
        font-family: $font-korea;
        font-size: $font-size12;
        line-height: 2.14;
        font-weight: $font-weight300;
      }
    }

    .footer_up-list {
      display: flex;
      justify-content: space-around;
      list-style: none;

      .footer_up-item {
        margin: 0 20px;

        .footer_up-title {
          font-size: $font-size14;
          font-family: $font-eng;
          font-weight: $font-weight700;
        }
        .footer_up-desc {
          font-family: $font-korea;
          font-size: $font-size12;
          line-height: 2.14;
          font-weight: $font-weight300;
        }
      }
    }
  }

  .footer_down {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 225, 225, 0.4);

    .footer_down-left {
      width: 60%;
      color: $text-blank;
      font-family: $font-korea;
      font-size: $font-size12;
      font-weight: $font-weight300;
      line-height: 1.71;
      margin-top: 20px;
    }
    .footer_down-right {
      margin-top: 20px;
      .footer_down-right-icon {
        margin: 0 20px;
        cursor: pointer;
      }
    }
  }
}
